@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background: url(../images/bg-mobile.jpg)no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 0px;
  margin: 0;
  list-style: none;
}

@media (min-width: 992px) {
  body {
    background: url(../images/bg3.jpg)no-repeat;
  }
}

h1 {
  font-size: 2.2rem;
  font-weight: normal;
  margin-top: 0;
  text-align: center;
}


@media (min-width: 992px) {
  h1 {
    font-size: 2.6rem;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img, svg {
  vertical-align: middle;
}

@font-face {
  font-family: Pixel;
  src: url(../assets/點陣字體.ttf);
}

.instruction {
  position: fixed;
  z-index: 999;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 3px solid #4870a0;
  box-shadow: inset 0px 0px 0px 5px #fff,
    inset 0px 0px 0px 9px #4870a0,
    inset 0px 5px 0px 9px #a0d0e0,
    inset 3px 5px 0px 9px #a0d0e0,
    inset -3px 5px 0px 9px #a0d0e0,
    0px 3px 0px 0px #4870a0;
  border-radius: 10px;
  padding: 35px 24px;
  box-sizing: border-box;
  display: none;
}


.instruction.show {
  display: block;
}

.close {
  border: 3px solid #4870a0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -18px;
  right: -18px;
  cursor: pointer;
}


.close::before,
.close::after {
  content: '';
  display: block;
  width: 20px;
  height: 4px;
  border-radius: 20px;
  background: #4870a0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(50deg);
}




@media (min-width: 992px) {
  .instruction {
    border: 5px solid #4870a0;
    width: auto;
    box-shadow: inset 0px 0px 0px 9px #fff,
      inset 0px 0px 0px 15px #4870a0,
      inset 0px 8px 0px 15px #a0d0e0,
      inset 5px 8px 0px 15px #a0d0e0,
      inset -5px 8px 0px 15px #a0d0e0,
      0px 4px 0px 0px #4870a0;
    border-radius: 10px;
    padding: 70px 55px;
  }

  .close {
    border: 5px solid #4870a0;
    width: 65px;
    height: 65px;
    top: -25px;
    right: -25px;
  }

  .close::before,
  .close::after {
    width: 30px;
    height: 5px;
  }
}

.close:hover {
  background: #4870a0;
}

.close:hover::before,
.close:hover::after {
  background: #fff;
}

.close::after {
  transform: translate(-50%, -50%) rotate(-50deg);

}


.mobile-act,
.mobile-key {
  position: fixed;
  right: 40px;
  bottom: 40px;
  font-size: 0;
  z-index: 99;
  display: block;
}

@media (min-width: 992px) {
  .mobile-act,
  .mobile-key {
    display:none;
  }
}

.mobile-act {
  left: 40px;
}

.mobile-act img,
.mobile-key img {
  cursor: pointer;
}

.mobile-top {
  display: block;
  margin: auto;
}

.ver {
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.container {
  position: relative;
}

@media (min-width: 992px) {
  .container {
    margin: 15px;
  }
}

.computer {
  background: #fffb14;
  display: block;
  top: 6px;
  width: 31px;
  height: 19px;
  left: 7px;
  position: relative;
  box-shadow: 0px 0px 10px 0px #fffb14,
    0px 0px 10px 0px #fffb14;
  animation: computer .2s infinite linear;
}

@media (min-width: 992px) {
  .computer {
    top: 11px;
    width: 39px;
    height: 21px;
    left: 8px;
  }
}


@keyframes computer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .3;
  }
}


.box,
.person {
  /* border: 1px solid #51f9ff;
  opacity: .4; */
  position: absolute;
  box-sizing: border-box;
  text-align: center;
}

.box {
  /* border: 1px solid yellow;
  opacity: .5; */
}

.box.desk {
  background: url(../images/desk.png)no-repeat;
  background-position: center;
  background-size: contain;
}

.bookPerson {
  top: -20px;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 3;
  height: 24px;
  width: 25px;
  margin: auto;
  /* background: url(../images/Screenshotter--YouTube--0’02”.jpg) #fff; */
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
  border-radius: 50%;
  animation: person .3s infinite alternate;
}

.bookPerson::before {
  content: url(../images/circle2.png);
  position: absolute;
  top: -1px;
  left: 0;
}

.tableNum {
  font-size: .5rem;
  transform: scale(.6);
  display: block;
  padding-top: .5rem;
  text-align: center;
  font-weight: bold;
  color: #492715;
  font-family: 'Press Start 2P', cursive;
}

@media (min-width: 992px) {

  .bookPerson {
    top: -25px;
    height: 34px;
    width: 39px;
    border-radius: 50%;
  }

  .bookPerson::before {
    content: url(../images/circle.png);
  }

  .tableNum {
    padding-top: .7rem;
    transform: scale(1);
  }
}


.person {
  /* background: yellow; */
  /* outline: 1px solid blue; */
  z-index: 1;
  background: url(../images/front00.png)no-repeat;
  background-size: contain;
  background-position: center;
}

.person.animate {
  animation: person .3s infinite alternate;
}

.person .talk:after {
  content: url(../images/dialog5.png);
  position: relative;
  /* transform: scaleX(1); */
  top: -10px;
  opacity: 0;
  /* top: 0px;
  left:42px; */
  transition: .5s;
}

.person .talk.show:after {
  opacity: 1;
  top: -20px;
  left: 2px;
  /* top: 11px;
  left:42px; */
  transition: .5s;
}


@media (min-width: 992px) {
  .person .talk:after {
    content: url(../images/dialog4.png);
  }

  .person .talk.show:after {
    top: -25px;
  }
}



.person.top {
  background: url(../images/back01.png)no-repeat;
  background-size: contain;
  background-position: center;
  /* animation: top .8s 1 alternate; */
}

.person.top-stop {
  background: url(../images/back00.png)no-repeat;
  background-size: contain;
  background-position: center;
}


@keyframes person {
  0% {
    margin-top: 3px;
  }


  100% {
    margin-top: 0px;
  }
}


@keyframes top {
  0% {
    background: url(../images/back01.png)no-repeat;
  }

  50% {
    background: url(../images/back02.png)no-repeat;
  }


  100% {
    background: url(../images/back01.png)no-repeat;
  }
}


.person.down {
  /* animation: down .8s infinite alternate; */
  background: url(../images/front01.png)no-repeat;
  background-size: contain;
  background-position: center;
}

.person.down-stop {
  background: url(../images/front00.png)no-repeat;
  background-size: contain;
  background-position: center;
}


@keyframes down {
  0% {
    background: url(../images/front01.png)no-repeat;
  }

  50% {
    background: url(../images/front02.png)no-repeat;
  }

  100% {
    background: url(../images/front01.png)no-repeat;
  }
}

.person.left {
  /* animation: left 1s infinite alternate; */
  background: url(../images/left02.png)no-repeat;
  background-size: contain;
  background-position: center;
}

.person.left-stop {
  background: url(../images/left00.png)no-repeat;
  background-size: contain;
  background-position: center;
}

@keyframes left {
  0% {
    background: url(../images/left02.png)no-repeat;
  }

  50% {
    background: url(../images/left01.png)no-repeat;
  }

  100% {
    background: url(../images/left02.png)no-repeat;
  }
}

.person.right {
  /* animation: right 1s infinite alternate; */
  background: url(../images/right02.png)no-repeat;
  background-size: contain;
  background-position: center;
}

.person.right-stop {
  background: url(../images/right00.png)no-repeat;
  background-size: contain;
  background-position: center;
}

@keyframes right {
  0% {
    background: url(../images/right02.png)no-repeat;
  }

  50% {
    background: url(../images/right01.png)no-repeat;
  }

  100% {
    background: url(../images/right02.png)no-repeat;
  }
}


/* dialogBox */
.dialogBox {
  width: 80%;
  background: #fff;
  border: 3px solid #4870a0;
  box-shadow: inset 0px 0px 0px 5px #fff,
    inset 0px 0px 0px 9px #4870a0,
    inset 0px 5px 0px 9px #a0d0e0,
    inset 3px 5px 0px 9px #a0d0e0,
    inset -3px 5px 0px 9px #a0d0e0,
    0px 3px 0px 0px #4870a0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60%;
  z-index: 99;
  border-radius: 10px;
  font-family: Pixel;
  font-weight: 300;
  padding: 30px 30px 15px 30px;
  box-sizing: border-box;
  font-size: 1.7rem;
  letter-spacing: -3px;
  opacity: 0;
  display: none;
  line-height: 1.2em;
}

@media (min-width: 992px) {
  .dialogBox {
    width: 70vw;
    bottom: 2rem;
    border: 5px solid #4870a0;
    box-shadow: inset 0px 0px 0px 9px #fff,
      inset 0px 0px 0px 15px #4870a0,
      inset 0px 8px 0px 15px #a0d0e0,
      inset 5px 8px 0px 15px #a0d0e0,
      inset -5px 8px 0px 15px #a0d0e0,
      0px 4px 0px 0px #4870a0;
    padding: 50px 55px;
    font-size: 3.7rem;
  }
}


.dialogBox.show {
  opacity: 1;
  display: block;
}

.dialogBox.show.cannotBook {
  border: 3px solid #b52828;
  background: #fbeded;
  box-shadow: inset 0px 0px 0px 5px #fbeded,
    inset 0px 0px 0px 9px #b52828,
    inset 0px 5px 0px 9px #e68b8b,
    inset 3px 5px 0px 9px #e68b8b,
    inset -3px 5px 0px 9px #e68b8b,
    0px 3px 0px 0px #b52828;
}

@media (min-width: 992px) {
  .dialogBox.show.cannotBook {
    border: 5px solid #b52828;
    box-shadow: inset 0px 0px 0px 9px #fbeded,
      inset 0px 0px 0px 15px #b52828,
      inset 0px 8px 0px 15px #e68b8b,
      inset 5px 8px 0px 15px #e68b8b,
      inset -5px 8px 0px 15px #e68b8b,
      0px 4px 0px 0px #b52828;
  }
}


.dialogBox.show.cannotBook .option {
  display: none;
}

.dialogBox.show.bookSuccess .option {
  display: none;
}

.option {
  position: relative;
  margin: 12px;
}

.option div {
  padding-left: 20px;
}

@media (min-width: 992px) {
  .option div {
    padding-left: 40px;
  }
}

@keyframes bling {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.checkbox-group {
  /* background-color: green; */
}

.checkbox-group input {
  width: 0%;
  font-size: 0;
  border: 0;
}

.checkbox-group {
  position: relative;
}

.checkbox-group .focus+label::before {
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 5px;
  left: 0;
  background: #1f1f1f;
  box-shadow:
    0px 0px 0px 0px #000,
    0px 3px 0px 0px #000,
    0px 6px 0px 0px #000,
    0px 9px 0px 0px #000,
    0px 12px 0px 0px #000,
    3px 3px 0px 0px #1f1f1f,
    3px 6px 0px 0px #000,
    3px 9px 0px 0px #000,
    6px 6px 0px 0px #1f1f1f;
  animation: bling .7s infinite;
}

@media (min-width: 992px) {
  .checkbox-group .focus+label::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 11px;
    left: 0;
    background: #1f1f1f;
    box-shadow:
      0px 0px 0px 0px #000,
      0px 6px 0px 0px #000,
      0px 12px 0px 0px #000,
      0px 18px 0px 0px #000,
      0px 24px 0px 0px #000,
      6px 6px 0px 0px #1f1f1f,
      6px 12px 0px 0px #000,
      6px 18px 0px 0px #000,
      12px 12px 0px 0px #1f1f1f;
    animation: bling .7s infinite;
  }
}

/* booking */
.booking, .query, .cancel {
  background: #fff;
  border: 3px solid #4870a0;
  box-shadow: inset 0px 0px 0px 5px #fff,
    inset 0px 0px 0px 9px #4870a0,
    inset 0px 5px 0px 9px #a0d0e0,
    inset 3px 5px 0px 9px #a0d0e0,
    inset -3px 5px 0px 9px #a0d0e0,
    0px 3px 0px 0px #4870a0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;
  border-radius: 10px;
  font-family: Pixel;
  font-weight: 300;
  /* padding:50px 55px; */
  box-sizing: border-box;
  font-size: 1.7rem;
  letter-spacing: -3px;
  opacity: 0;
  display: none;
  height: 57vh;
  width: 80%;
}

.query, .cancel {
  height: 55vh;
}

@media (min-width: 992px) {
  .booking, .query, .cancel {
    border: 5px solid #4870a0;
    box-shadow: inset 0px 0px 0px 9px #fff,
      inset 0px 0px 0px 15px #4870a0,
      inset 0px 8px 0px 15px #a0d0e0,
      inset 5px 8px 0px 15px #a0d0e0,
      inset -5px 8px 0px 15px #a0d0e0,
      0px 4px 0px 0px #4870a0;
    font-size: 2rem;
    height: 85vh;
    width: auto;
  }

  .query, .cancel {
    height: 50vh;
  }
}


.query .name,
.cancel .name {
  margin-top: 20px;
}

.booking.show,
.query.show,
.cancel.show {
  opacity: 1;
  display: block;
}

.booking form {
  margin: 20px 25px;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.query form,
.cancel form {
  margin: 0px 30px;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

@media (min-width: 992px) {
  .booking form {
    margin: 40px 55px;
  }

  .query form,
  .cancel form {
    margin: 0px 55px;
  }
}



input, select {
  border: 0;
  border-bottom: 3px solid #4870a0;
  width: 100%;
  font-family: Pixel;
  font-size: 1.5rem;
  outline: 0;
  border-radius: 0px;
  background: #fff;
}

/*填資料區*/


.input-group {
  margin-bottom: 10px;
  display: flex;
  position: relative;
}

.input-group .tableNum {
  font-size: 1.2rem;
  color: #000;
  padding: 5px 0;
  font-weight: normal;
  line-height: 24px;
}

.input-group label {
  width: 100%;
  max-width: 60px;
  padding: 5px;
  font-size: 1.5rem;
}

@media (min-width: 992px) {

  .input-group .tableNum {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

.btn_booking {
  border: 3px solid #4870a0;
  width: 100%;
  padding: 10px 10px;
  font-family: Pixel;
  font-size: 1.3rem;
  color: #fff;
  background: #4870a0;
  cursor: pointer;
}

.btn_out {
  background: #fff;
  color: #4870a0;
  border-right: 0px;
}

@media (min-width: 992px) {
  .btn_booking {
    border: 5px solid #4870a0;
    padding: 10px 20px;
    font-size: 1.8rem;
  }
}

.btn_booking:hover {
  background: #fff;
  color: #4870a0;
  transition: .3s;
}

.btn_out:hover {
  background: #a0d0e0;
}


.input-group.btn {
  margin-bottom: 0;
  margin-top: 25px;
}

@media (min-width: 992px) {
  input, select {
    border: 0;
    border-bottom: 5px solid #4870a0;
    font-size: 2rem;
  }

  .input-group {
    margin-bottom: 20px;
  }

  .input-group label {
    max-width: 80px;
  }

}


.input-group .notice {
  color: red;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.input-group .notice.show {
  display: block;
}

.input-group .notice.show.shock {
  animation: shock .1s 5;
}

@keyframes shock {
  0% {
    top: 0px;
    right: 0px;
  }

  25% {
    top: -2px;
    right: 2;
  }

  50% {
    right: 2px;
    top: 2px;
  }

  75% {
    right: -2px;
    top: -2px;
  }

  100% {
    top: 0;
    right: 0;
  }
}


/*圖片上傳*/

.shot {
  flex-direction: column;
}


.pic {
  width: 150px;
  height: 150px;
  border: 3px solid #4870a0;
  background: #fff;
  color: #4870a0;
  font-size: 8rem;
  text-align: center;
  line-height: 300px;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/shot.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  .pic {
    width: 250px;
    height: 250px;
    border: 5px solid #4870a0;
  }
}


input[type="file"] {
  display: none;
}


input#file-upload-button {
  margin-right: 10px;
  background-color: #1f1f1f;
}

progress {
  width: 100%;
  border-radius: 0px;
  margin: 5px 0;
}


#uploader {
  padding: 5px 3px;
  box-sizing: border-box;
  width: 156px;
  margin: auto;
  border: 3px solid #4870a0;
  border-top: 0px;
  position: relative;
}

#uploader .run {
  background-color: #3AB54A;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

@media (min-width: 992px) {
  #uploader {
    width: 260px;
    border: 5px solid #4870a0;
  }
}


.input-group label.pic-control {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 30px;
  font-size: 1.33rem;
  line-height: 30px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  z-index: 1;
  position: relative;
}